.container{
    width:1226px;
    padding-left:17px;
    margin:0 auto;
    box-sizing:border-box;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.cleafix:before,.clearfix:after{
    content:' ';
    display:table;
}
.clearfix:after{
    clear:both;
}